
nav ul a, nav { color: #444; } 

p { line-height: 2rem; } 
#homeBanner { height: 700px; background: url(../source/bg1.png) center no-repeat; background-size: cover; } 

.sidenav-trigger { color: #ef1358; } 

.parallax-container { min-height: 380px; line-height: 0; height: auto; } 
.parallax-container .section { width: 100%; } 

@media only screen and (max-width : 992px) { 
 .parallax-container .section { 
 position: absolute; 
 top: 40%; 
 } 
 #index-banner .section { 
 top: 10%; 
 } 
 } 

@media only screen and (max-width : 600px) { 
 #index-banner .section { 
 top: 0; 
 } 
 }

.icon-block { padding: 0 15px; } 
.icon-block .material-icons { font-size: inherit; } 

footer.page-footer { margin: 0; } 
